.game_board {
  width: auto;
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 1rem; */
}

.player_hands {
  display: inline-flex;
}

.player_bank_info {
  display: grid;
}

@media (max-width: 768px) {
  /* .game_board {
    padding: 0.5rem;
  } */
}


@media (max-width: 480px) {
  .game_info h2 {
    font-size: 1rem;
  }

  .hands h3,
  .hands strong {
    font-size: 0.8em;
    /* flex-direction: column; */
    /* align-items: center; */
  }


}

/*
game_info
book_items
bet_controls
hands
player_hands
player_bank_info
*/