.App {
  text-align: center;
}

.settings-button {
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  z-index: 10;

  background: none;
  border: none;
  border-radius: 50%;
  font-size: 1.8rem;
  padding: 0.4rem;
  width: 2.8rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.settings-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
