body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.player_hands {
  display: inline-flex;
}

.count_items {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.player_bank_info {
  display: grid;
}

.chips-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.chip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
}

.chip-button {
  background-color: #eee;
  border: none;
  padding: 4px 8px;
  font-size: 18px;
  cursor: pointer;
  margin: 2px 0;
}

.chip-circle {
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
  color: white;
}

.chip-1   { background-color: white; }
.chip-5   { background-color: red; }
.chip-10   { background-color: green; }
.chip-25  { background-color: blue; }
.chip-50   { background-color: slategrey }
.chip-100 { background-color: black; }
.chip-500 { background-color: darkmagenta; }
.chip-1000 { background-color: gold; }

